VITE_API_URL=https://cp-sep490-busdn.onrender.com/api
VITE_SOCKET_URL=https://cp-sep490-busdn.onrender.com
VITE_GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
VITE_ENV=production
VITE_ENABLE_ANALYTICS=false
VITE_ENABLE_SENTRY=false
